{% extends "AdminBundle::layout.html.twig" %}

{% block content %}

{% include "AdminBundle::notification.html.twig" %}

{% for sector in sectores %}
<div class="col-lg-3 col-xs-6">
    <div class="small-box bg-{{sector.color}}-gradient">
        <div class="inner">
            <h4>
                {{sector.nombre}}
            </h4>
            <p>
                Diario: {{sector.diario}}
            </p>
            <p>
                Semanal: {{sector.semanal}}
            </p>
            <p>
                Mensual: {{sector.mensual}}
            </p>
        </div>
        <div class="icon">
            <i class="ion ion-location"></i>
        </div>
        <a href="{{ path('control_calendar', { 'sectorId': sector.id }) }}" class="small-box-footer">
            Seleccionar &nbsp;<i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>
{% endfor %}

{% endblock %}