<div class="clearfix">
    <a id="addNew" class="btn btn-warning btn-flat pull-right" href="{{ path('parametro_general_new', { 'table': table }) }}" 
       title="Agregar Nuevo"><i class="fa fa-cog"></i> &nbsp;Agregar</a>
</div>
<br>
<table id="tablelist" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="nosort"></th>
            {% if entities[0].persona is defined %}  <th>Tipo</th> {% endif %}
            <th>Descripción</th>
            {% if entities[0].abreviatura is defined %}  <th>Abreviatura</th> {% endif %}
            <th class="nosort">Acciones</th>
        </tr>
    </thead>
    <tbody>
               {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            {% if entity.persona is defined %} <td> {{ entity.persona }}</td> {% endif %}
            <td>{{ entity.nombre }}</td>
            {% if entity.abreviatura is defined %} <td> {{ entity.abreviatura }}</td> {% endif %}
            <td class="link-actions">
                <a href="{{ path('parametro_general_edit', { 'table': table, 'id': entity.id }) }}" title="Editar"><i class="fa fa-edit"></i></a>&nbsp;
                <a href="{{ path('parametro_general_delete', { 'table': table, 'id': entity.id }) }}" title="Eliminar"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
               {% endfor %}
    </tbody>
</table> 
<!-- DATA TABES SCRIPT -->
<script src="{{ asset('assets/js/datatables/jquery.dataTables.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/js/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/js/tables.js') }}" type="text/javascript"></script>
