{% extends "AdminBundle::layout.html.twig" %}

{% block content %}
{% include "AdminBundle::notification.html.twig" %}


<style>
    .inftareas .todo-list >li{
        padding: 5px 10px;
        margin-bottom: 0;
        background: #e6e7e8;
    }
    .bg-white {
	background-color: transparent !important;
	color: #444444;
	border: 1px solid #eaeaec;
    }

    .inftareas .todo-list >li label{
        margin: 0;
    }
    .cabecera_subsector {
        padding-top: 5px;
    }
    .cabecera_subsector, .detalle_subsector {
        border-left: 2px solid #e6e7e8;
        border-right: 2px solid #f3f4f5;
      }
      .cabecera_subsector .row{
          padding:0px 10px;
      }
      .cabecera_subsector .title{
          border-top: 1px solid lightgray;
          padding:0px 10px;
      }
      .cabecera_subsector .title label{
        font-weight: 600;
        margin-bottom: 0px;
      }
    .detalle_subsector{
        padding:0px 10px;
    }
    .detalle_subsector.last{
        background-color: red;
    }
    .detalle_subsector .detail{
        margin-left: 5px;
        margin-right: 5px;
    }
    .detalle_subsector .detail small{
        display: inline-block;
    }
    .title,.detalle_subsector{
        background-color: lightgoldenrodyellow;
    }
</style>

<div class="box box-solid box-primary">
    <div class="box-header">

        <div class="box-title"> <i class="fa fa-filter"></i>&nbsp; <small>Criterios de Filtro</small></div>

        <!-- tools box -->
        <div class="pull-right box-tools">
            <!-- button with a dropdown -->
            <div class="btn-group hidden">
                <button class="btn btn-xs btn-default"><i class="fa fa-angle-down"></i> </button>
            </div>
        </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body">

<form action="{{ path('informe_tareas') }}" method="post" role="form">
                <fieldset>
                    <input type="hidden" id="opFiltro" name="_opFiltro" value="buscar"/>
                    <div class="form-group col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon" style="min-width:96px;">Sectores</span>
                            <select id="sectorId" name="_sectorId" class="form-control sector_selector">
                                <option value="0">- Todos -</option>
                                {% for sector in sectores if sector.activo %}
                                    <option value="{{sector.id}}" {% if sector.id == app.session.get('informeTareas').sectorId %} selected="selected"{%endif%} >{{sector.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon" style="min-width:96px;">Subsectores <i class="fa fa-refresh fa-spin fa-fw" style="display:none"></i></span>
                            <select id="subSectorId" name="_subSectorId" class="form-control subsector_selector">
                                <option value="0">- Todos -</option>
                                {% for subSector in subSectores %}
                                    <option value="{{subSector.id}}" {% if subSector.id == app.session.get('informeTareas').subSectorId%} selected="selected"{%endif%} >{{subSector.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </fieldset>
                <fieldset>
                    <div class="form-group col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon" style="min-width:96px;">Tipo Tarea</span>
                            <select id="tipoTarea" name="_tipoTarea" class="form-control">
                                <option value="0">- Todas -</option>
                                <option value="D" {% if app.session.get('informeTareas').tipoTarea == 'D'%} selected="selected"{%endif%} >Diaria</option>
                                <option value="S" {% if app.session.get('informeTareas').tipoTarea == 'S'%} selected="selected"{%endif%} >Semanal</option>
                                <option value="M" {% if app.session.get('informeTareas').tipoTarea == 'M'%} selected="selected"{%endif%} >Mensual</option>
                            </select>
                        </div>
                    </div>

                        <div class="form-group col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon" style="min-width:96px;">Tarea</span>
                                <input name="_tarea" type="text" class="form-control" value="{{app.session.get('informeTareas').tarea}}" id="tarea" style="text-transform:uppercase" />
                            </div>
                        </div>

                </fieldset>
                <fieldset>
                    <div class="form-group col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon" style="min-width:96px;">Verificada</span>
                            <select id="verificada" name="_verificada" class="form-control">
                                <option value="0">- Todas -</option>
                                <option value="S" {% if app.session.get('informeTareas').verificada == 'S' %} selected="selected"{%endif%} >Si</option>
                                <option value="N" {% if app.session.get('informeTareas').verificada == 'N' %} selected="selected"{%endif%} >No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 tarea_vencida" style="display:none;">
                        <div class="input-group">
                            <span class="input-group-addon" style="min-width:96px;">Fecha Vencida</span>
                            <select id="vencida" name="_vencida" class="form-control">
                                <option value="0">- Todas -</option>
                                <option value="S" {% if app.session.get('informeTareas').vencida == 'S' %} selected="selected"{%endif%} >Si</option>
                                <option value="N" {% if app.session.get('informeTareas').vencida == 'N' %} selected="selected"{%endif%} >No</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="tarea_verificada"  style="display:none;">
                    <div class="form-group col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon" style="min-width:96px;">Estado</span>
                            <select id="estadoId" name="_estadoId" class="form-control">
                                <option value="0">- Todos -</option>
                                {% for estado in estados %}
                                    <option value="{{estado.id}}" {% if estado.id == app.session.get('informeTareas').estadoId%} selected="selected"{%endif%} >{{estado.nombre}}</option>
                                {% endfor %}                                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon" style="min-width:96px;">Personal</span>
                            <select id="personalId" name="_personalId" class="form-control">
                                <option value="0">- Todos -</option>
                                {% for persona in personal %}
                                    <option value="{{persona.id}}" {% if persona.id == app.session.get('informeTareas').personalId %} selected="selected"{%endif%} >{{persona.nombre}}</option>
                                {% endfor %}
                                 <option value="999" {% if app.session.get('informeTareas').personalId == '999' %} selected="selected"{%endif%}>Otro</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset  class="tarea_verificada" style="display:none;">
                    <div class="form-group col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon" style="min-width:96px;">Usuario</span>
                            <select id="usuarioId" name="_usuarioId" class="form-control">
                                <option value="0">- Todos -</option>
                                {% for usuario in usuarios %}
                                    <option value="{{usuario.id}}" {% if usuario.id == app.session.get('informeTareas').usuarioId%} selected="selected"{%endif%} >{{usuario.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i> &nbsp;Desde
                            </div>
                            <input name="_desde" type="text" class="form-control Datepicker" value="{{app.session.get('informeTareas').desde|date('Y-m-d')}}" id="fecha_ini" />
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i> &nbsp;Hasta
                            </div>
                            <input name="_hasta" type="text" class="form-control Datepicker" value="{{app.session.get('informeTareas').hasta|date('Y-m-d')}}" id="fecha_fin" />
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="hidden" id="salida" name="salida" value="search"/>
                        <button class="btn btn-default btn-flat pull-right action" data-action="print" type="button"><i class="fa fa-print"></i> <span class="title-text">&nbsp; Imprimir</span></button>
                        <button class="btn btn-danger btn-flat pull-right action" data-action="search" type="button"><i class="fa fa-search"></i> <span class="title-text">&nbsp; Consultar</span></button>
                    </div>
                </fieldset>

            </form>

        <div class="row texto_filtro hidden">
            <div class="col-xs-6"> <small><strong>Sector:</strong> Cocina Central</small> </div>
            <div class="col-xs-6"> <small>SubSector: Cocina Central</small> </div>
            <div class="col-xs-6"> <small>Usuario: Todos</small> </div>
            <div class="col-xs-6"> <small>Personal: Todos</small> </div>
            <div class="col-xs-6"> <small>Desde: 28-12-2016</small> </div>
            <div class="col-xs-6"> <small>Hasta: 28-12-2016</small> </div>
        </div>



    </div><!-- /.box-body -->
</div><!-- /.box -->
{% for sect in resultado %}
<div class="box box-danger inftareas">
    <div class="box-header">
        <div class="box-title"> &nbsp;<small style="font-weight:bold;">{{sect.nombre|upper}} </small> &nbsp;&nbsp; <small class="label bg-blue">D<i class="fa fa-fw fa-caret-right"></i>{{sect.diario}} </small> &nbsp; <small class="label bg-blue">S<i class="fa fa-fw fa-caret-right"></i>{{sect.semanal}} </small> &nbsp; <small class="label bg-blue">M<i class="fa fa-fw fa-caret-right"></i>{{sect.mensual}} </small> </div>
        <!-- tools box -->
        <div class="pull-right box-tools">
            <!-- button with a dropdown -->
            <div class="btn-group">
                <button class="btn btn-xs btn-default" data-widget="collapse"><i class="fa fa-angle-down"></i> </button>
            </div>
        </div><!-- /. tools -->
    </div><!-- /.box-header -->
    <div class="box-body no-padding-top">
        <ul class="todo-list">

            {% for dia in sect.dias %}
                {% if dia.subsectores|length >0 %}
                <li>
                    <div class="row">
                        <span class="col-xs-4"><label>{{dia.fecha|date('d-m-Y')}}</label></span>
                        <span class="col-xs-4"><label>Plantel Completo:</label> {% if dia.plantelCompleto %}Si {% elseif dia.plantelCompleto is null %} -- {% else %} No {% endif %} </span>
                        <span class="col-xs-4"><label></label>  </span>
                    </div>
                </li>
                <ul class="list-unstyled">

                    {% for ssInfo in dia.subsectores %}

                    <li class="cabecera_subsector">
                        <div class="row">
                            <span class="col-xs-10">
                                <label><small>{{ssInfo.nombre|upper }}</small> &nbsp;&nbsp;
                                   {% if ssInfo.diario != '--' %} <small class="label bg-white">D<i class="fa fa-fw fa-caret-right"></i>{{ssInfo.diario}} </small> &nbsp; {% endif %}
                                   {% if ssInfo.semanal != '--' %} <small class="label bg-white">S<i class="fa fa-fw fa-caret-right"></i>{{ssInfo.semanal}} </small> &nbsp; {% endif %}
                                   {% if ssInfo.mensual != '--' %} <small class="label bg-white">M<i class="fa fa-fw fa-caret-right"></i>{{ssInfo.mensual}} </small> {% endif %}
                                </label> </span>
                            <span class="col-xs-2"> <span class="plus pull-right" id="{{dia.fecha|date('Ymd')~'-'~ssInfo.id}}" style="margin: 0 0 0 5px;" title="Ver tareas" >x</span>  <small class="badge bg-red pull-right" style="font-weight:normal;">{{ssInfo.tareas|length}}</small> </span>
                        </div>

                        <div class="title subsector_{{dia.fecha|date('Ymd')~'-'~ssInfo.id}}">
                            <label style="width:5%">Tipo</label>
                            <label style="width:30%">Tarea</label>
                            <label style="width:18%">Fecha/Hora</label>
                            <label style="width:12%">Estado</label>
                            <label style="width:29%">Personal</label>
                        </div>

                    </li>

                        {% for tarea in ssInfo.tareas %}
                        <li {% if loop.last %} style="border-bottom: 1px solid lightgray;" {% endif %} class="detalle_subsector subsector_{{dia.fecha|date('Ymd')~'-'~ssInfo.id}}">
                                <div class="detail">
                                    <small style="width:5%">{% if tarea.tipoTarea=='D'%} D {% elseif tarea.tipoTarea=='S'%} S {% else %} M {% endif %} </small>
                                    <small style="width:30%">{{ tarea.nombreTarea|upper }}</small>
                                    <small style="width:18%">{% if tarea.fechaHora is not null %} {{ tarea.fechaHora|date('d-m-Y H:i') }} {% else %} <span style="color:#888888">- sin verificar -</span> {% endif %}</small>
                                    <small style="width:12%">{{ tarea.estado }}</small>
                                    <small style="width:29%">{{tarea.personal}}</small>
                                </div>
                        </li>

                        {% endfor%}
                    {% endfor%}
                </ul>
               {% else %}
                   <li>
                    <div class="row">
                        <span class="col-xs-4"><strong>{{dia.fecha|date('d-m-Y')}} </strong> Sin datos</span>
                    </div>
                </li>
               {% endif %}
            {% endfor%}
        </ul>
    </div><!-- /.box-body -->
</div><!-- /.box -->
{% endfor%}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
    $('#verificada').change(function(){
        if($(this).val()=='S'){
            $('.tarea_verificada').show();
            $('.tarea_vencida').hide();
            $('#vencida').val('0');
        }
        else {
            $('.tarea_verificada').hide();
            $('.tarea_vencida').hide();
            $('#personalId').val('0');
            $('#estadoId').val('0');
            $('#usuarioId').val('0');
        }
        if($(this).val()=='N'){
            $('.tarea_vencida').show();
        }
    });
    $('#verificada').change();

    if(!is_mobile()){
        $('#fecha_ini').val('{{app.session.get('informeTareas').desde|date('d-m-Y')}}');
        $('#fecha_fin').val('{{app.session.get('informeTareas').hasta|date('d-m-Y')}}');
    }

    $(".sector_selector").change(function() {
        var data = { sector_id: $(this).val() };
        $('.fa-spin').show();
        $.ajax({
            type: 'post',
            url: '{{ path("select_subsector") }}',
            data: data,
            success: function(data) {
                var $subsector_selector = $('.subsector_selector');
                $subsector_selector.html('<option value="0">Todos</option>');
                for (var i = 0, total = data.length; i < total; i++) {
                    $subsector_selector.append('<option value="' + data[i].id + '">' + data[i].nombre + '</option>');
                }
            }
        }).done(function() {
            $('.fa-spin').hide();
          });
    });

    $('.title,.detalle_subsector').hide();

    $('.plus').click(function(){
        trDetalle = '.subsector_'+$(this).attr('id');
        $(trDetalle).fadeToggle("slow");
        if( $(this).hasClass('minus') ) $(this).removeClass('minus')
        else $(this).addClass('minus');
    });

    $('.action').click(function(){
        var action = $(this).data('action');
        $('#salida').val( action );
        if( action=='print' ){
            window.open('{{ path('informe_tareas_pdf') }}'+'?'+$('form').serialize(),'_blank');
        }else{
            $('form').submit();
        }
    });

});

</script>
{% endblock %}